<div class="container">
    <div class="row justify-content-center my-5">
        <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <%= image_tag '01.jpg', class: "img-fluid rounded-start" %>
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Ricardo Flores Fuentes</h5>
                <p class="card-text">Desarrollador Fullstack Trainee</p>
                <p class="card-text"><small class="text-body-secondary">+569 562 47 256 - rfloresfuentes@gmail.com</small></p>
            </div>
            </div>
        </div>
        </div>    
    </div>
</div>